form {
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

label {
  width: 80px;
  height: 20px;
}

input[type="text"],
input[type="tel"],
input[type="date"],
select {
  width: 375px;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 0px;
  font-size: 15px;
  margin: 10px;
}

button[type="submit"] {
  background: linear-gradient(to right, #da2f47, #c95767);
  color: #fff;
  width: 100%;
  padding: 0.75rem;
  font-weight: 600;
  font-family: inherit;
  margin-top: 0.75rem;
  outline: none;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  opacity: 0.9;
}
.donor-form-container {
  border: 1px solid #ccc;
  padding: 20px;
}
