.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 50px;
  width: auto;
}

.nav {
  display: flex;
  align-items: center;
}

.navtext {
  margin-left: 20px;
}

.navtext a {
  color: #333;
  text-decoration: none;
}

.navtext a:hover {
  color: #da2f47;
}

.loginbtn {
  display: inline-block;
  background: linear-gradient(to right, #da2f47, #c95767);
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px;
}

.loginbtn a {
  color: #fff;
  text-decoration: none;
}

.loginbtn:hover {
  background-color: white;
  color: #da2f47;
}

.loginbtn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
