.slider-container {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
}

.slider-image {
  display: block;
  width: 100%;
  height: auto;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 2em;
  cursor: pointer;
}

.slider-btn.prev {
  left: 20px;
}

.slider-btn.next {
  right: 20px;
}

.slider-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.slider-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 10px;
  cursor: pointer;
}

.slider-dot.active {
  background-color: gray;
}
